.sidebar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.accordion{
    border: 1px solid blue;
    background-color: white;
    margin-bottom: 20px;
}
.accordionSummary{
    border: 1px solid blue;
}

.passenger{
    display: flex;
    border-bottom: 1px solid blue;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

h3{
    text-align: left;
}

.activePassenger{
    border: 1px solid blue;
    background-color: rgb(222, 239, 245);
}